* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main {
  background-color: #e7eaf4;
  height: 100vh;
  .nav-section {
    width: 100%;
    // height: 5rem;
    padding: 1rem 0;
    .navbar {
      background-color: #ffffff;
      padding: 0.4rem 1rem;
      width: 97%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 0.1rem;
      .nav-left {
        display: flex;
        align-items: center;
        gap: 3rem;
        .name-ecom {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .search {
          // width: 25rem;
          .input-container {
            display: -ms-flexbox;
            display: flex;
            width: 19.5rem;
            border: 1px ridge #e7eaf4;
            border-radius: 3px;
            position: relative;
            border: 1px solid #e7eaf4;
            // right: 2.5rem;
            background-color: #ffffff;
          }

          .icon {
            padding: 10px 0px;
            min-width: 19.3rem;
            text-align: center;
          }

          .material-icons-outlined {
            color: #a7a7a7;
            position: relative;
            right: 7.8rem;
            transform: rotate(0deg);
            transition: 0.2s;
            font-size: 1.1rem;
          }

          .input-container:hover .material-icons-outlined {
            transition: 0.2s;
            transform: rotatey(180deg);
            -webkit-transform: rotatey(180deg);
            -ms-transform: rotatey(180deg);
          }

          .input-field {
            width: 20rem;
            padding: 10px;
            outline: none;
            border: none;
            background: transparent;
            position: relative;
            right: 17rem;
          }
          ::placeholder {
            color: #a7a7a7;
            font-size: 0.8rem;
          }
        }
      }
      .nav-right {
        display: flex;
        align-items: center;
        gap: 2rem;
        .header-sec {
          padding: .6rem;
          border: 1px solid rgba(128, 128, 128, 0.685);
          font-size: 1rem;
          font-weight: 500;
          text-align: center;
          border-radius: .3rem;
          // background-color: aqua;
        }
      }
    }
  }
  // .container {
  //   // width: 100%;
  //   // background-color: red;
  //   .head-text {
  //     //   text-align: center;
  //     font-size: 3rem;
  //     font-weight: 600;
  //     padding: 1rem 0 1rem 1rem;
  //     color: white;
  //   }
  //   .cards {
  //     //   background-color: #ffffff;
  //     border-radius: 0.2rem;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     flex-wrap: wrap;
  //     gap: 0.5rem;
  //     padding: 1rem;
  //     .card-group {
  //       width: 55rem;
  //       height: 75vh;
  //       background-color: white;
  //       padding: 1rem;
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: center;
  //       .header {
  //         padding: 1rem 0;
  //         font-size: 5rem;
  //         // border: 2px solid rgba(128, 128, 128, 0.495);
  //       }
  //       .card {
  //         position: relative;
  //         background-color: white;
  //         box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  //         width: 100%;
  //         height: 11rem;
  //         padding: 3rem;
  //         // border-radius: 0.3rem;
  //         display: flex;
  //         // flex-direction: column;
  //         justify-content: space-between;
  //         align-items: center;
  //         border: 1px solid rgba(128, 128, 128, 0.495);
  //         // gap: 5rem;
  //         // padding: 0 0.4rem;
  //         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  //         .button-card {
  //           font-size: 1rem;
  //         }
  //         img {
  //           width: 10rem;
  //           height: 10rem;
  //         }
  //         .prodect-des {
  //           font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  //             sans-serif;
  //           font-size: 1.2rem;
  //           font-weight: 500;
  //           text-align: center;
  //           width: 100%;
  //           //   height: 2rem;
  //           //   background-color: #a7a7a7;
  //         }
  //         .hover-text {
  //           display: none;
  //           position: absolute;
  //           top: 13rem;
  //           text-align: center;
  //           background-color: rgba(0, 0, 0, 0.945);
  //           color: white;
  //           opacity: 0.6;
  //           font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  //             sans-serif;
  //           font-weight: 300;
  //           z-index: 2;
  //           border-radius: 0.2rem;
  //           padding: 0.2rem;
  //         }
  //       }
  //       :hover.card .hover-text {
  //         display: block;

  //         //   color: #1781d2;
  //         background-color: black;
  //       }
  //     }
  //   }
  // }
  .container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .right-section {
      width: 95%;
      // height: 50rem;
      display: flex;
      gap: 2rem;
      background-color: white;
      .main-list {
        
        width: 60rem;
        height: 30rem;
        // overflow-y: scroll;
        // background-color: red;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
       
        .body-sec {
          height: 26rem;
          // background-color: #a7a7a7;
          overflow-y: scroll;
          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          .card {
            width: 100%;
            padding: 1rem;
            display: flex;
            height: 13rem;
            border: 1px solid rgba(128, 128, 128, 0.548);
            background-color: #fff;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            line-height: 1.4rem;
         
              img {
                width: 8rem;
                height: 8rem;
              
            }
            .card-discription {
              font-size: 1.1rem;
              font-weight: 400;
            line-height: 2rem;
            }
            .add-text{
              color: green;
            }
            .button-brp{
            display: flex;
            align-items: flex-end;
            height: 100%;
            
            button{
              font-size: .8rem; 
            }
            }
          }
        }
        .footer-button{
          padding: 1rem;
          background-color: red;
display: flex;
justify-content: flex-end;
        }
      }
      .short-list {
        width: 22rem;
        height: 20rem;
        background-color: gray;
      }
    }
  }
}
