<section class="main">
    <aside class="nav-section">
        <nav class="navbar">
            <aside class="nav-left">
                <span class="name-ecom">
                    <img src="../../../assets/50277.jpg" alt="" width="60rem"> E-COMM.S</span>
                <aside class="search-bar">
                    <aside class="search">
                        <div class="input-container">
                            <span class="material-icons-outlined icon">search</span>
                            <input class="input-field" type="text" placeholder="Search" name="usrnm">
                        </div>
                    </aside>
                </aside>
            </aside>
            <aside class="nav-right">
                <aside class="header-sec" >Products {{number}}</aside>
                <button mat-raised-button [routerLink]="['']" color="warn">Home</button>
            </aside>
        </nav>
    </aside>
    <!-- <section class="container">
        <aside class="head-text">Cart Prodect</aside>
        <section class="cards">
            <aside class="card-group">
                <aside class="header">Products</aside>
                <aside class="card" *ngFor="let item of cartdata; let i=index">
                    <img src="{{item.image}}" alt="">
                    <aside>
                        <aside class="prodect-des">{{item.base}}</aside>
                        <aside class="prodect-prize">${{item.price}}</aside>
                        <span class="add-text">Added Seccesfully</span>
                        <aside class="hover-text">
                            {{item.title}}
                        </aside>

                    </aside>
                </aside>
            </aside>
        </section>
    </section> -->
    <section class="container">
        <section class="right-section">
            <aside class="main-list">
        
                <aside class="body-sec">
                    <aside class="card" *ngFor="let item of cartdata; let i=index">
                        <aside class="card-img">
                            <img src="{{item.image}}" alt="" width="150rem">
                        </aside>
                        <aside class="card-discription">
                            <aside class="prodect-des">{{item.base}}</aside>
                            <aside class="prodect-prize">${{item.price}}</aside>
                            <aside class="hover-text">
                                {{item.title}}
                            </aside>
                            <span class="add-text">Added Seccesfully</span>
                        </aside>
                        <aside class="button-brp">
                            <button class="mat-button">SAVE FOR LATER</button>
                            <button class="mat-button"(click)="Removecart(item)">REMOVE</button>
                        </aside>

                    </aside>
                </aside>
                <footer class="footer-button">
                    <button class="mat-raised-button">PLACE ORDER</button>
                </footer>
            </aside>
            <aside class="short-list"></aside>
        </section>
    </section>

</section>