<section class="container">
    <section class="right-section">

        <aside *ngFor="let item of data" class="main-card">
            <aside class="card-img">
                <img src="{{item.image}}" alt="" width="150rem" height="150rem">
            </aside>
            <aside class="card-discription">


                <aside>{{item.id}}</aside>
                <aside>{{item.base}}</aside>
                <aside>{{item.price}}</aside>
                <aside>{{item.size}}</aside>
                <aside>{{item.place}}</aside>
                <aside>{{item.pin}}</aside>
                <aside>{{item.address}}</aside>
                <span class="add-text">order Seccesfully</span>
            </aside>

        </aside>



    </section>
</section>