<section class="container">
    <section class="right-section">
        <aside class="main-list">

            <aside class="body-sec">
                <aside class="card">
                    <aside class="card-img">
                        <img src="" alt="" width="150rem">
                    </aside>
                    <aside class="card-discription">
                        <aside></aside>
                        <aside></aside>
                    </aside>
                    <span class="add-text">Added Seccesfully</span>
                </aside>



            </aside>
        </aside>
        <footer class="footer-button">
            <button class="mat-raised-button">PLACE ORDER</button>
        </footer>


    </section>
</section>