<section class="focus-center">
    <mat-nav-list [formGroup]="orderform">
        <aside class="detail-sec">
            <aside class="sec">
                <img src="{{displayorder.details.image}}" alt="" width="100rem" height="100rem">
                <aside>Base:{{displayorder.details.base}}</aside>
                <aside>Category:{{displayorder.details.category}}</aside>
                <aside>Price:{{displayorder.details.price | currency}}</aside>
                <aside>Size:{{displayorder.size}}</aside>
                <aside>NO of item:{{displayorder.itemnumber}}</aside>
            </aside>
        </aside>
        <!-- <aside aria-label=""></aside> -->
        <!-- <span matListItemTitle>Google Keep</span> -->
        <mat-form-field class="example-form-field">
            <mat-label>Place</mat-label>
            <input matInput type="text" formControlName="place">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <!-- <span matLine>Add to a note</span> -->



        <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St" formControlName="address"></textarea>
        </mat-form-field>



        <mat-form-field class="example-form-field">
            <mat-label>PIN</mat-label>
            <input matInput type="text" formControlName="pin">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>



        <button mat-raised-button color="primary" (click)="order(orderform.value)">Order</button>

    </mat-nav-list>
</section>