<section class="main">
    <aside class="nav-section">
        <nav class="navbar">
            <aside class="nav-left">
                <span class="name-ecom">
                    <img src="../../../assets/50277.jpg" alt="" width="60rem"> E-COMM.S</span>
                <aside class="search-bar">
                    <aside class="search">
                        <div class="input-container">
                            <span class="material-icons-outlined icon">search</span>
                            <input class="input-field" type="text" placeholder="Search" name="usrnm">
                        </div>
                    </aside>
                </aside>
            </aside>
            <aside class="nav-right">
                <button mat-raised-button color="warn" [routerLink]="['']">Home</button>
            </aside>
            <mat-form-field appearance="fill">
                <mat-label>Language</mat-label>
                <mat-select [(ngModel)]="selectedOption" (selectionChange)="onOptionSelected($event)"
                    id="languageSelect">
                    <mat-option value="english">english</mat-option>
                    <mat-option value="spanish">spanish</mat-option>
                </mat-select>
            </mat-form-field>

        </nav>
    </aside>

    <!-- <p>{{selectedOption | translation}}</p> -->
    <!-- <h1>{{ 'greeting' | translate }}</h1>
    <p>{{ 'welcome' | translate }}</p> -->
    <select (change)="changeLanguage($event)">
        <option value="en">English</option>
        <option value="fr">French</option>
    </select>
    <h1>{{ 'Title' | translation:selectedLanguage }}</h1>
    <h2>{{'hello' | translation:selectedLanguage}}</h2>
    <h2>{{ content1 | translation:selectedLanguage}}</h2>

    <p>{{ content | translation:selectedLanguage}}</p>
    <section class="main-sec-product">
        <aside class="section-prodect">
            <h1 class="prodect-head">PRODUCT DETAILS</h1>
            <img src="{{productdata.image}}" width="200rem" alt="">
            <aside class="text-area">
                <span class="short-detail">{{productdata.title }}</span>
                <span class="price">${{productdata.price}}</span>
                <span class="category">{{productdata.category}}</span>
                <span class="discription">{{productdata.description}}</span>
                <span class="rating">{{productdata.rate}}</span>
            </aside>

        </aside>

    </section>
</section>
<!-- <app-home [clildData]="clildData"></app-home> -->