@import "/src/assets/scss/base/variables";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main {
  // background-color: #1781d2;
  background-color: #e7eaf4;
  .nav-section {
    width: 100%;
    // height: 5rem;
    padding: 1rem 0;
    // @media only #{$desktop-max-md} {
    //   width: 50%;
    //   background-color: red;
    // }
    @media only #{$desktop-max-md-800} {
      padding: 0;
    }

    .navbar {
      @media only #{$desktop-max-md-800} {
        padding: 0.2rem 0;
      }
      // z-index: 3;
      background-color: #ffffff;
      padding: 0 1rem;
      width: 97%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: rgba(108, 126, 145, 0.2) 0px 8px 24px;
      border-radius: 0.1rem;
      .nav-left {
        display: flex;
        align-items: center;
        gap: 3rem;
        .name-ecom {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .search {
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
          // width: 25rem;
          .input-container {
            @media only #{$desktop-max-md-800} {
              width: 18rem;
            }
            display: -ms-flexbox;
            display: flex;
            width: 25rem;
            border: 1px ridge #e7eaf4;
            border-radius: 3px;
            position: relative;
            border: 1px solid #e7eaf4;
            // right: 2.5rem;
            background-color: #ffffff;
          }

          .icon {
            padding: 10px 0px;
            min-width: 19.3rem;
            text-align: center;
          }

          .material-icons-outlined {
            color: #a7a7a7;
            position: relative;
            right: 7.8rem;
            transform: rotate(0deg);
            transition: 0.2s;
            font-size: 1.1rem;
          }

          .input-container:hover .material-icons-outlined {
            transition: 0.2s;
            transform: rotatey(180deg);
            -webkit-transform: rotatey(180deg);
            -ms-transform: rotatey(180deg);
          }

          .input-field {
            width: 20rem;
            padding: 10px;
            outline: none;
            border: none;
            background: transparent;
            position: relative;
            right: 17rem;
          }
          ::placeholder {
            color: #a7a7a7;
            font-size: 0.8rem;
          }
        }
      }
      .nav-right {
        display: flex;
        align-items: center;
        gap: 2rem;
      }
    }
  }
  .container {
    // width: 100%;
    // background-color: red;
    .navbar-down {
      position: relative;
      // display: flex;
      // justify-content: center;
      // justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 40rem;
      // padding: 1rem 0 1rem 2rem;
      padding: 0 1rem;
      .back-vedio {
        border-radius: 0.4rem;
        width: 100%;
        // height: 100;
        // position: absolute;
        // right: 0;
        // bottom: 0;
        // z-index: -1;
      }
      @media (min-aspect-ratio: 10/6) {
        .back-vedio {
          width: 100%;
          height: auto;
        }
      }
      .nav-down-condent {
        position: absolute;
        left: 0;
        top: 0;
        // z-index: 7;
        // background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 3rem;
        .head-text {
          // text-align: center;
          font-size: 5rem;
          // font-weight: 1000;
          color: white;
          -webkit-text-stroke: 1px #fff;
          color: transparent;
        }
      }
    }
    .offer-cards {
      @media only #{$desktop-max-lg} {
        flex-wrap: wrap;
      }
      padding: 3rem;
      display: flex;
      justify-content: center;
      gap: 8rem;
      .offer-card {
        position: relative;
        z-index: 10;
        // padding: 1rem;
        // width: auto;
        // height: auto;
        // background-color: red;
        border-radius: 0.4rem;

        .back-vedio {
          @media only #{$desktop-max-lg} {
            width: 20rem;
          }
          width: 100%;
          height: auto;
          border-radius: 0.3rem;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        }
        .vedio-text {
          @media only #{$desktop-max-lg} {
            font-size: 1rem;
          }
          position: absolute;
          bottom: 0;
          left: 0;

          font-size: 2rem;
          -webkit-text-stroke: 1px #fff;
          // font-weight: 100;
          color: transparent;
        }
      }
    }
    .cards {
      //   background-color: #ffffff;
      border-radius: 0.2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: center;
      padding: 1rem;
      .card {
        position: relative;
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 14rem;
        height: 20rem;
        border-radius: 0.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0 0.4rem;
        .button-card {
          font-size: 0.8rem;
        }
        img {
          width: 10rem;
          height: 10rem;
        }
        .prodect-des {
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          font-size: 1.2rem;
          font-weight: 500;
          text-align: center;
          width: 100%;
          //   height: 2rem;
          //   background-color: #a7a7a7;
        }
        .hover-text {
          display: none;
          position: absolute;
          top: 13rem;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.945);
          color: white;
          opacity: 0.6;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          font-weight: 300;
          z-index: 2;
          border-radius: 0.2rem;
          padding: 0.2rem;
        }
      }
      :hover.card .hover-text {
        display: block;

        //   color: #1781d2;
        background-color: black;
      }
      &:hover {
        transition: to-upper-case($string: "rgr");
      }
    }
  }
}
