<section class="main">
    <aside class="nav-section">
        <nav class="navbar">
            <aside class="nav-left">
                <span class="name-ecom">
                    <img src="../../../assets/50277.jpg" alt="" width="60rem"> E-COMM.S</span>
                <aside class="search-bar">
                    <aside class="search">
                        <div class="input-container">
                            <span class="material-icons-outlined icon">search</span>
                            <input class="input-field" type="text" placeholder="Search" name="usrnm">
                        </div>
                    </aside>
                </aside>
            </aside>
            <aside class="nav-right">
                <button mat-stroked-button color="warn" [routerLink]="['/profile']" class="nav-button">profile</button>
                <button mat-raised-button color="primary" [routerLink]="['/login']" class="nav-button">Login</button>


                <div class="example-sidenav-content">
                    <button mat-button type="button" color="primary" class="toggle-button"
                        (click)="drawer.toggle()">Toggle<mat-icon>menu</mat-icon></button>

                </div>


            </aside>
        </nav>
    </aside>
    <section class="container">
        <mat-drawer-container class="example-container" autosize hasBackdrop="true">
            <aside class="navbar-down">
                <video autoplay loop muted plays-inline class="back-vedio">
                    <source src="../../../assets/istockphoto-1298550149-640_adpp_is.mp4" type="video/mp4">
                </video>
                <aside class="nav-down-condent">
                    <aside class="head-text">Prodect Lists</aside>
                    <button mat-stroked-button color="warn" (click)="cart()"><span class="material-icons-round">
                            shopping_cart
                        </span>Cart</button>
                </aside>

                <!-- -->
            </aside>

            <mat-drawer #drawer class="example-sidenav" mode="over">
                <!-- search-bar -->
                <aside class="search-bar">
                    <aside class="search">
                        <div class="input-container">
                            <span class="material-icons-outlined icon">search</span>
                            <input class="input-field" type="text" placeholder="Search" name="usrnm">
                        </div>
                    </aside>
                </aside>
                <!-- button-profile-login -->
                <aside class="btn-grp">
                    <button mat-stroked-button color="warn" [routerLink]="['/profile']"
                        class="nav-button">profile</button>
                    <button mat-raised-button color="primary" [routerLink]="['/login']"
                        class="nav-button">Login</button>
                </aside>
            </mat-drawer>
        </mat-drawer-container>

        <aside class="offer-cards">
            <aside class="offer-card" data-aos="zoom-in">
                <video autoplay loop muted plays-inline class="back-vedio" width="200" height="300">
                    <source src="../../../assets/vedio1.mp4" type="video/mp4">
                </video>
                <p class="vedio-text">purchase</p>
            </aside>
            <aside class="offer-card" data-aos="zoom-in">
                <video autoplay loop muted plays-inline class="back-vedio" width="200" height="300">
                    <source src="../../../assets/vedio2.mp4" type="video/mp4">
                </video>
                <p class="vedio-text">growth</p>
            </aside>
            <aside class="offer-card" data-aos="zoom-in">
                <video autoplay loop muted plays-inline class="back-vedio" width="200" height="300">
                    <source src="../../../assets/vedio3.mp4" type="video/mp4">
                </video>
                <p class="vedio-text">selection</p>
            </aside>
            <aside class="offer-card" data-aos="zoom-in"> <video autoplay loop muted plays-inline class="back-vedio"
                    width="200" height="300">
                    <source src="../../../assets/vedio4.mp4" type="video/mp4">
                </video>
                <p class="vedio-text">shopping</p>
            </aside>

        </aside>

        <section class="cards">
            <aside class="card" *ngFor="let item of data; let i=index" [title]="item.title" data-aos="fade-up"
                data-aos-anchor-placement="bottom-bottom">
                <img src="{{item.image}}" alt="" (click)="viewProdect(i)">
                <aside class="prodect-des">{{item.base}}</aside>
                <aside class="prodect-prize">${{item.price}}</aside>
                <aside class="button-grp">
                    <button mat-raised-button color="primary" (click)="add(item)" class="button-card">Add to
                        Cart</button>
                    <!-- <button mat-raised-button color="warn" (click)="viewProdect(i)" class="button-card">view
                        product</button> -->
                </aside>
                <aside class="hover-text">
                    {{item.title}}
                </aside>
            </aside>
        </section>
    </section>
</section>